 <div class="control">
      <h2>Add or update a new recipe.</h2>
      <script>
      function onFormSubmit(form) {
        form.action = form.action + form.elements['item[id]'].value;
        console.log(form.action);
        return true;
      } 
      </script>
      <form method="post" action="/recipes/<%=item._id%>" onsubmit="return onFormSubmit(this);">
        <!-- The line above dynamically sets the PUT destination when the -->
        <!-- form is submitted. -------------------------------------------->
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Recipe name: 
          <input name="item[name]" type="text" required
                 placeholder="Blueberry Scones">
        </label>
        <label>Ingredients: <br>
            (One ingredient per line)
            <textarea name="item[ingredients]" cols="80" rows="30" 
                    placeholder="1/2 sugar" required="required" value="<%=item.ingredients%>"></textarea>
        </label>
       <label>Cook Time: 
          <input name="item[cookTime]" value="<%=item.cooktime%>" type="text" required>
        </label>
         <label>Image URL:
          <input name="item[image]" value="<%=item.image%>" type="url" size="80"> 
        </label>
        <label>Name of cook: 
          <input name="item[cook]" value="<%=item.cookname%>" type="text" required>
        </label>
        <label>Directions: <br>
            (Label each step with 1, 2, 3, etc. Start each step on a new line.)
            <textarea name="item[directions]" cols="80" rows="30" 
                    placeholder="1. Pre-heat overn to 400 degrees." required="required"></textarea>
        </label>
        
        <select name="meals">
          <option value="breakfast">Breakfast</option> <!--a href="/recipes/meals/breakfast/"-->
          <option value="lunch">Lunch</option> <!--a href="/recipes/meals/lunch/"-->
          <option value="dinner">Dinner</option> <!--a href="/recipes/meals/dinner/"-->
          <option value="appetizer">Appetizers</option> <!--a href="/recipes/meals/appetizers/"-->
          <option value="snack">Snacks</option> <!--a href="/recipes/meals/snacks/"-->
        </select>
        
        <select name="dish">
          <option value="soups">Soups & Stews</option> <!--a href="/recipes/dish/soups/"-->
          <option value="cakes">Cakes</option> <!--a href="/recipes/dish/cakes/"-->
          <option value="breads">Breads & Sandwiches</option> <!--a href="/recipes/dish/breads/"-->
          <option value="italian">Italian</option>     <!--a href="/recipes/dish/italian/"-->
        </select>
      
        <button>Update</button>
      </form>
    </div>
    
    <!--filter form by meal or dish or search-->
    <div id="filters">
      <form method="get" action="/recipes/">
        <label type="text" class="inline" id="sortby">Sort by:</label>
        <select name="item[recipes]" class="inline"> <!-- see one-candidate.ejs for form actions for a drop down-->
            <option value="">Meal</option>
            <option value="breakfast">Breakfast</option> 
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option> 
            <option value="appetizer">Appetizers</option>
            <option value="snack">Snacks</option> 
        </select>
        
      <!--  <select name="item[recipes]" class="inline">
            <option value="">Dish</option>
            <option value="soups">Soups & Stews</option> 
            <option value="cakes">Cakes</option> 
            <option value="breads">Breads & Sandwiches</option>
            <option value="italian">Italian</option>    
        </select>-->
        <button class="inline">Filter Recipes</button>
        <span class="search"><input type="text" placeholder="Search recipes" name="search" class="inline"><button class="inline">Search</button></span>
      </form>
    </div>