<!DOCTYPE html>
<html>
  <head> <!-- reference list-candidates for questions -->
    <title>My Cookbook: Recipes</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
        <h1 class="site-title"><a href="/recipes/">MyCookbook</a></h1>
        <p class="site-subtitle">Store all your recipes in one place!</p>
        
    </header>
    
    <div id="cook-button">
        <a href="/cooks/">View all cooks and add recipes</a>
    </div>
    
    <div id="recipe-list-container">
      <section id="recipe-container">
        <div class="recipe-components">
            <% if (items.length > 0) { %>
            <ul class="recipe-list">
                <% items.forEach(function(item) { %>  
                <li><a href="/recipes/<%=item._id%>"><img class="recipe-img" src="<%=item.image%>" alt="<%=item.name%>"></a>
                    <div class="recipe-meta">
                        <h1 class="recipe-name"><a href="/recipes/<%=item._id%>"><%=item.name%></a></h1> <!--recipe name-->
                        <h1 class="cook-name"><a href="/cooks/<%=item.cook%>"><%=item.cook%></a></h1>
                    </div>
                </li>
            <% }); %>
            </ul>
            <% } else { %>
            <div>No recipes found.</div>
            <% } %>
        </div>
      </section>
    </div>
    <footer>
        <div id="footer">
            <p>Project by Daphne Zaborowski, Molly O'Dwyer and Amanda Joiner</p>
            <p>Spring 2013, INLS 490: Web Information Organization</p>
        </div>
  </body>
</html>
