<!DOCTYPE html>
<html>
  <head> <!-- reference list-candidates for questions -->
    <title>My Cookbook: Recipes</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
        <h1 class="site-title">MyCookbook</h1>
        <p>Store all your recipes in one place!</p>
        
    </header>
    
    <!--filter form by meal or dish or search -->
    <div id="filters">
      <form method="get" action="/recipes/">
        <label type="text" class="inline" id="sortby">Sort by:</label>
        <select name="meals" class="inline"> <!-- see one-candidate.ejs for form actions for a drop down-->
            <option value="">Meal</option>
            <option value="breakfast">Breakfast</option> <!--a href="/recipes/meals/breakfast/"-->
            <option value="lunch">Lunch</option> <!--a href="/recipes/meals/lunch/"-->
            <option value="dinner">Dinner</option> <!--a href="/recipes/meals/dinner/"-->
            <option value="appetizer">Appetizers</option> <!--a href="/recipes/meals/appetizers/"-->
            <option value="snack">Snacks</option> <!--a href="/recipes/meals/snacks/"-->
        </select>
        
        <select name="dish" class="inline">
            <option value="">Dish</option>
            <option value="soups">Soups & Stews</option> <!--a href="/recipes/dish/soups/"-->
            <option value="cakes">Cakes</option> <!--a href="/recipes/dish/cakes/"-->
            <option value="breads">Breads & Sandwiches</option> <!--a href="/recipes/dish/breads/"-->
            <option value="italian">Italian</option>     <!--a href="/recipes/dish/italian/"-->
        </select>
        <button class="inline">Filter Recipes</button>
        <span class="search"><input type="text" placeholder="Search recipes" name="search" class="inline"><button class="inline">Search</button></span>
      </form>
    </div>
    
    <div id="recipe-list-container">
      <section class="recipe-container">
        <div class="recipe-components">
            <% if (items.length > 0) { %>
            <ul>
                <% items.forEach(function(item) { %>  
                <li><a href="/recipes/<%=item._id%>"><img class="recipe-img" src="<%=item.image%>" alt="<%=item.name%>"></a>
                    <div class="recipe-meta">
                        <h1 class="recipe-name"><a href="/recipes/<%=item._id%>"><%=item.name%></a></h1> <!--recipe name-->
                        <h1 class="cook-name"><a href="/cooks/<%=item._id%>"><%=item.name%></a></h1> <!--cook name -->
                    </div>
                </li>
            <% }); %>
            </ul>
            <% } else { %>
            <div>No recipes found.</div>
            <% } %>
        </div>
      </section>
    </div>
  </body>
</html>
