<!DOCTYPE html>
<html>
  <head>
    <title>My Cookbook: Recipes</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!--filter form by meal or dish or search -->
    <div>
      <form method="get" action="/recipes/">
        <select name="meals">
          <option value="breakfast">Breakfast</option> <!--a href="/recipes/meals/breakfast/"-->
          <option value="lunch">Lunch</option> <!--a href="/recipes/meals/lunch/"-->
          <option value="dinner">Dinner</option> <!--a href="/recipes/meals/dinner/"-->
          <option value="appetizer">Appetizers</option> <!--a href="/recipes/meals/appetizers/"-->
          <option value="snack">Snacks</option> <!--a href="/recipes/meals/snacks/"-->
        </select>
        
        <select name="dish">
          <option value="soups">Soups & Stews</option> <!--a href="/recipes/dish/soups/"-->
          <option value="cakes">Cakes</option> <!--a href="/recipes/dish/cakes/"-->
          <option value="breads">Breads & Sandwiches</option> <!--a href="/recipes/dish/breads/"-->
          <option value="italian">Italian</option>     <!--a href="/recipes/dish/italian/"-->
        </select>
        <input type="text" placeholder="Search recipes" name="search"><input type="submit" value="Search">
      </form>
    </div>
    
    <div id="recipe-list-container">
      <% if (items.length > 0) { %>
        <% items.forEach(function(item) { %>
      <section class="recipe-container">
        <div class="recipe-components">
          <a href="/recipes/<%=item._id%>"><img class="recipe-img" src="<%=item.image%>" alt="<%=item.name%>"></a><br>
          <div class="recipe-meta">
            <h1 class="recipe-name"><a href="/recipes/<%=item._id%>"><%=item.name%></a></h1> <!--recipe name-->
            <h1 class="cook-name"><a href="/cooks/<%=item._id%>"><%=item.name%></a></h1> <!--cook name -->
          </div>
        </div>
      </section>
        <% }); %>
      <% } else { %>
      <div>No recipes found.</div>
      <% } %>
    </div>
    
    
    <div class="control">
      <h2>Add or update a new recipe.</h2>
      <script>
      function onFormSubmit(form) {
        form.action = form.action + form.elements['item[id]'].value;
        console.log(form.action);
        return true;
      } 
      </script>
      <form method="post" action="/recipes/<%=item._id%>" onsubmit="return onFormSubmit(this);">
        <!-- The line above dynamically sets the PUT destination when the -->
        <!-- form is submitted. -------------------------------------------->
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Recipe name: 
          <input name="item[name]" type="text" required
                 placeholder="Blueberry Scones">
        </label>
        <label>Ingredients: <br>
            (Press Enter after each ingredient)
            <textarea name="item[ingredients]" cols="80" rows="30" 
                    placeholder="1/2 sugar" required="required" value="<%=item.ingredients%>"></textarea>
        </label>
       <label>Cook Time: 
          <input name="item[cookTime]" value="<%=item.cooktime%>" type="text" required>
        </label>
         <label>Image URL:
          <input name="item[image]" value="<%=item.image%>" type="url" size="80"> 
        </label>
        <label>Name of cook: 
          <input name="item[cook]" value="<%=item.cookname%>" type="text" required>
        </label>
        <label>Directions: <br>
            (Label each step with 1, 2, 3, etc. Start each step on a new line.)
            <textarea name="item[directions]" cols="80" rows="30" 
                    placeholder="1. Pre-heat overn to 400 degrees." required="required"></textarea>
        </label>
        <select name="meals">
          <option value="breakfast">Breakfast</option> <!--a href="/recipes/meals/breakfast/"-->
          <option value="lunch">Lunch</option> <!--a href="/recipes/meals/lunch/"-->
          <option value="dinner">Dinner</option> <!--a href="/recipes/meals/dinner/"-->
          <option value="appetizer">Appetizers</option> <!--a href="/recipes/meals/appetizers/"-->
          <option value="snack">Snacks</option> <!--a href="/recipes/meals/snacks/"-->
        </select>
        
        <select name="dish">
          <option value="soups">Soups & Stews</option> <!--a href="/recipes/dish/soups/"-->
          <option value="cakes">Cakes</option> <!--a href="/recipes/dish/cakes/"-->
          <option value="breads">Breads & Sandwiches</option> <!--a href="/recipes/dish/breads/"-->
          <option value="italian">Italian</option>     <!--a href="/recipes/dish/italian/"-->
        </select>
      
        <button>Update</button>
      </form>
    </div>
  </body>
</html>
