<!DOCTYPE html>
<html>
  <head>
    <title>My Cookbook: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>MyCookbook</h1></a>
    <dl>
      <dt>Cook name</dt>
      <dd><%=item.name%></dd>
      <% if (item.description) { %>
      <dt>Description</dt>
      <dd><%=item.description%></dd>
      <% } %>
      <dt>Recipes</dt>
      
      <dd>
        <% if (related_items.length > 0) { %>
        <ul>
          <% related_items.forEach(function(related_items) { %>
          <li>
            <a href="/recipes/<%=related_items._id%>">
              <%=related_items.name%>  
            </a>
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        No recipes have been added for this cook.
        <% } %>
      </dd>
    </dl>
    <div class="control">
      <h2>Add Recipe</h2>
      <form id="create-recipe" method="post" action="/recipes/">
        <input type="hidden" name="item[cook]" value="<%=item._id%>">
        <!-- The line above links the recipe to be created to this cook. -->
        <label>Recipe name: 
          <input name="item[name]" type="text" required placeholder="Blueberry Scones">
        </label>
        <label>Ingredients: <br>
            (One ingredient per line)
            <textarea name="item[ingredients]" cols="80" rows="30" 
                    placeholder="1/2 sugar" required></textarea>
        </label>
        <label>Cook Time: 
          <input name="item[cookTime]" type="text" required>
        </label>
         <label>Image URL:
          <input name="item[image]" type="url" size="80"> 
        </label>
        <!--<label>Name of cook: 
          <input name="item[cook]" value="<%=item.cookname%>" type="text" required>
        </label> -->
        <label>Directions: <br>
            (Label each step with 1, 2, 3, etc. Start each step on a new line.)
            <textarea name="item[directions]" cols="80" rows="30" 
                    placeholder="1. Pre-heat overn to 400 degrees." required></textarea>
        </label>
        
        <select name="item[meals]" required>
          <option value="breakfast">Breakfast</option> <!--a href="/recipes/meals/breakfast/"-->
          <option value="lunch">Lunch</option> <!--a href="/recipes/meals/lunch/"-->
          <option value="dinner">Dinner</option> <!--a href="/recipes/meals/dinner/"-->
          <option value="appetizer">Appetizers</option> <!--a href="/recipes/meals/appetizers/"-->
          <option value="snack">Snacks</option> <!--a href="/recipes/meals/snacks/"-->
        </select>
        
        <select name="item[dish]" required>
          <option value="soups">Soups & Stews</option> <!--a href="/recipes/dish/soups/"-->
          <option value="cakes">Cakes</option> <!--a href="/recipes/dish/cakes/"-->
          <option value="breads">Breads & Sandwiches</option> <!--a href="/recipes/dish/breads/"-->
          <option value="italian">Italian</option>     <!--a href="/recipes/dish/italian/"-->
        </select>
        <button>Add</button>
      </form>
    </div>
  </body>
</html>
